{% extends 'sodaapp/base.html' %}
{% block title %}Python Members{% endblock %}

{% block content %}
<div class="row">
        {% if profiles %}
            {% for prof in profiles %}
                <div class="col-sm-3">
                    <div class="card card-body my-1">
                        <h4 class="text-center"
                        style="white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 90%;
                        border-bottom: 1px solid black;
                        font-family: Gugi;">{{ prof.name }}</h4>
                        <img src="{{ prof.photo.url }}" class="rounded-circle mx-auto img-fluid" alt="" style="height: 120px; width: 120px; align-self: center;">
                        <div class="caption">
                            <h5 class="text-center"
                            style="font-family: Patrick Hand;">{{ prof.occupation }}</h5>
                            <h6 class="text-center" style="white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 90%;
                        font-family: Orbitron;">{{ prof.slogan }}</h6>
                            <button class="btn btn-info btn-sm" data-toggle="modal"
                                    data-target="#modal-{{ prof.id }}">
                                <i class="fas fa-info"></i>
                            </button>
                            <a href="{% url 'sodaapp:delete-member' prof.id %}" class="btn btn-danger btn-sm" style="float: right;">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>

                    </div>

                <!--Modal -->
                <div class="modal fade" id="modal-{{ prof.id }}" role="dialog">
                   <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"
                        style="font-family: Economica;">{{ prof.name }}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;
                        </button>
                    </div>

                       <div class="modal-body">
                        <p style="font-family: Lora;">
                            {{ prof.name }} is {{ prof.age }} years old.
                            {% if prof.is_male %} He{% else %}She{% endif %}
                            is a {{ prof.nationality }} citizen. {% if prof.is_male %}He{% else %}
                            She{% endif %}went to {{ prof.primary }} school and {{ prof.secondary }}
                            High School & later joined {{ prof.campus }} university to pursue
                            {{ prof.course }}. {% if prof.is_male %}He{% else %}She{% endif %}
                            is a {{ prof.occupation }} by profession and lives in {{ prof.residence }}.
                            Reach {% if prof.is_male %}him{% else %}her{% endif %} via email: <a href="mailto:{{ prof.email }}">{{ prof.email }}</a>.
                            {% if prof.is_male %}He{% else %}She{% endif %} loves {{ prof.hobby }}.
                        </p>
                       </div>
                       <div class="modal-footer">
                            <a href="{% url 'sodaapp:update-member' prof.id %}" class="btn btn-outline-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                       </div>
                </div>
                   </div>
                </div>

                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
